.basketWrapp{
    width: 60px;
height: 36px;
background: #FFFFFF;
box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
border-radius: 4px;
display: flex;
align-items: center;
justify-content: center;

}
.basketCount{
    margin-left: 4px;
}