@font-face {
    font-family: 'SF-UI-Display-Bold';
    src: url(./Fonts/SF-UI-Display-Bold.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SF-UI-Display-Semibold';
    src: url(./Fonts/SF-UI-Display-Semibold.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SF-UI-Text-Medium';
    src: url(./Fonts/SF-UI-Text-Medium.woff) format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'SF-UI-Text-Regular';
    src: url(./Fonts/SF-UI-Text-Regular.woff) format('woff');
    font-display: swap;
}