.catalogCard{
    width: 214.8px;
height: 84.41px;
background: #FFFFFF;
border-radius: 5px;
display: flex;
justify-content: space-between;
align-items: center;
}
.imgCard{
    width: 85.74px;
    height: 84.41px;
    margin: 0 auto;
}
.imgCard img{
    width: 100%;
}