.searchInput{
    border: 0;
    outline: none;
    width: 350px;
    margin-left: 8px;
}

.inputWrapp{
    display: inline-flex;
    align-items: center;
    width: 402px;
    height: 38px;
    border-radius: 5px;
    padding-left: 12px;
    margin: 0 0 0 40px;
    background-color:rgb(253, 253, 253);
}
.inputWrapp:focus{
    border: solid 3px;
}